:root {
  --bacground-color: #ffffff;
  --primary-bacground: #e5e5e5;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --body-txt: #434455;
  --title-txt: #2e2f42;
  --link-color: #8e8f99;
  --succes-messadges: #31d0aa;
  --primary-txt: Roboto, sans-serif;
}

body {
  background-color: var(--bacground-color);
  font-family: var(--primary-txt);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-txt);
}

/* Reset settings */

.link,
.link-tel,
.link-mail {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Header  */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logotyp */

.logo,
.logo-foot {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo,
.logo-foot {
  color: var(--primary-brand);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-two {
  color: var(--title-txt);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobail Menu */

@media screen and (max-width: 767px) {
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-open-icon {
    stroke: var(--title-txt);
  }
  .mobail-menu-clouce {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background: #e7e9fc;
    /* opacity: 0.1; */
    border-radius: 50%;
    border: 1px solid #2e2f42;
  }

  .mobail-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobail-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu-list-mobail {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .menu-item-mobail,
  .link-mobail-menu-phon {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }

  .menu-item-mobail .link {
    color: var(--title-txt);
  }

  .menu-item-mobail .menu-studio {
    color: var(--pressed-state);
  }

  .mobail-menu-contakt {
    margin-top: auto;
    margin-bottom: 48px;
  }

  .mobail-menu-contakt-phon {
    margin-bottom: 40px;
  }

  .link-mobail-menu-phon {
    color: var(--primary-brand);
  }

  .link-mobail-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--body-txt);
  }

  .social-mobail-menu {
    display: flex;
    justify-content: center;
    gap: 56px;
  }

  .social-mobail-menu .item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
  }
}

/* Menu */

.menu .link {
  display: block;
  color: var(--title-txt);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Contacts header */

.contacts {
  font-style: normal;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-contacts {
  color: var(--body-txt);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu,
  .contacts-header {
    display: none;
  }
}

/* Heder tab */

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .mobail-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    font-weight: 500;
    gap: 40px;
  }
  .menu .menu-studio,
  .menu .menu-portfolio {
    position: relative;
    color: #404bbf;
  }

  .menu-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
  }

  .menu-portfolio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state);
  }
  .item-phon {
    margin-bottom: 12px;
  }
}

/* Heder dasc */

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .logo:hover,
  .logo-foot:hover,
  .logo-foot:focus,
  .logo:focus,
  .logo-two:hover,
  .logo-two:focus {
    color: var(--pressed-state);
  }
  .menu .link:hover,
  .menu .link:focus {
    color: var(--pressed-state);
  }
  .contacts {
    display: flex;
    gap: 40px;
  }
  .link-contacts:hover,
  .link-contacts:focus {
    color: var(--pressed-state);
  }
}

/* Section hero */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/img-homepage/background-photo-hero-mob.jpg);
  max-width: 428px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/img-homepage/background-photo-hero-mob@2x.jpg);
  }
}

.title-hero {
  max-width: 320px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.botton-hero {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px 16px 32px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primary-txt);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section hero tab */

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/img-homepage/background-photo-hero-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/img-homepage/background-photo-hero-tab@2x.jpg);
    }
  }

  .title-hero {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/* Section hero dasc */

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/img-homepage/background-photo-hero.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/img-homepage/background-photo-hero@2x.jpg);
    }
  }

  .title-hero {
    margin-bottom: 48px;
  }

  .botton-hero:hover,
  .botton-hero:focus {
    background-color: var(--pressed-state);
  }
}

/* <!-- Our advantages  --> */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-advantages {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.our-item {
  display: flex;
  flex-direction: column;
}

.title-advantages {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-txt);
}

/* Our advantages tab */

@media screen and (min-width: 768px) {
  .list-advantages {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .our-item {
    width: 356px;
  }
}

@media screen and (max-width: 1157px) {
  .advantages-icon,
  .photo {
    display: none;
  }
}

/* Our advantages dasc */

@media screen and (min-width: 1158px) {
  .advantages-icon {
    display: flex;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  }

  .list-advantages {
    flex-wrap: wrap;
    gap: 24px;
  }

  .title-advantages {
    margin-left: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .our-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* Photo section */
.photo {
  padding-top: 0;
}

.list-photo {
  display: flex;
}

.list-photo .item:not(:last-child) {
  margin-right: 24px;
}

.list-photo .item {
  border: 1px solid #e7e9fc;
}

.title-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-txt);
}

/* Our team */

.our-team {
  background-color: #f4f4fd;
}

.list-our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.list-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.discr-our-team {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title-element {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title-element {
  color: var(--title-txt);
}

.txt-our-team {
  text-align: center;
  margin-bottom: 8px;
}

.discr-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.discr-list .item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand);
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  fill: currentColor;
}

/* Our advantages tab */

@media screen and (min-width: 768px) {
  .list-our-team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
  }
}

/* Our advantages dasc */

@media screen and (min-width: 1158px) {
  .link-social:hover,
  .link-social:focus {
    background-color: #404bbf;
  }
}

/* Customer Section */

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  row-gap: 72px;
}

.client-item {
  display: flex;
  height: 88px;
  justify-content: center;
  align-items: center;
  width: 190px;
}

.client-linc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

/* Customer Section tab */

@media screen and (min-width: 768px) {
  .client-list {
    gap: 24px;
    row-gap: 72px;
  }
  .client-item {
    width: 168px;
  }
}

/* Customer Section dasc */

@media screen and (min-width: 1158px) {
  .client-list {
    gap: 24px;
  }

  .client-linc:hover,
  .client-linc:focus {
    color: var(--pressed-state);
    border: 1px solid var(--pressed-state);
  }
}

/* Footer */

.foot {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.logo-foot {
  display: block;
  margin-bottom: 16px;
}
.logo-two-foot {
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-txt {
  color: #f4f4fd;
}

.social-foot-txt,
.footer-form-txt {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}
.social-foot-item {
  width: 40px;
  height: 40px;
}
.list-social-foot {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-foot-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-icon {
  fill: currentColor;
}

/* Footer Form */

.footer-form-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2e2f42;
  color: #ffffff;
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer mob */

@media screen and (max-width: 767px) {
  .logo-foot {
    text-align: center;
  }
  .foot-txt {
    text-align: center;
  }
  .social-foot-txt,
  .footer-form-txt {
    text-align: center;
  }
  .logo-foot-blok {
    margin-bottom: 72px;
  }
  .social-foot-blok {
    margin-bottom: 72px;
  }
}

/* Footer tab and dasc */

@media screen and (min-width: 768px) {
  .foot-container {
    display: flex;
  }
  .foot-txt {
    max-width: 264px;
  }
  .footer-input-buttom {
    display: flex;
  }
  .footer-form-input {
    margin-right: 24px;
  }
}

/* Footer tab */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .foot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 530px;
  }
}

/* Footer dasc */

@media screen and (min-width: 1158px) {
  .logo-foot-blok {
    margin-right: 120px;
  }
  .footer-form {
    margin-left: auto;
  }
  .foot-container {
    align-items: baseline;
  }
  .logo-two-foot:hover,
  .logo-two-foot:focus {
    color: var(--pressed-state);
  }
  .social-foot-link:hover,
  .social-foot-link:focus {
    background-color: #31d0aa;
  }
  .footer-form-button:hover,
  .footer-form-button:focus {
    background-color: var(--pressed-state);
  }
}

/* Modal Windows */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 96px;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.modal {
  position: relative;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal Form */

.modal-form-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--link-color);
  cursor: pointer;
}

.modal-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  margin-bottom: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textarea::placeholder {
  font-family: var(--primary-txt);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.label-icon {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand);
}

.modal-checkbox-input-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: #fcfcfc;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox-input-custom {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
}

.modal-checkbox-input:focus + .modal-checkbox-input-custom {
  border: 2px solid #404bbf;
  border-radius: 2px;
}

.modal-checkbox-icon-custom {
  fill: #f4f4fd;
  opacity: 0;
  transition: opaciti 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + * .modal-checkbox-icon-custom {
  opacity: 1;
}

.modal-checkbox-txt {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.modal-link {
  color: var(--primary-brand);
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--bacground-color);
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Modal Window dasc */

@media screen and (min-width: 1158px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 408px;
    min-height: 576px;
  }
  .button-modal-close:hover,
  .button-modal-close:focus {
    background-color: var(--pressed-state);
    border: none;
  }
  .button-modal-close:hover .icon-modal-close,
  .button-modal-close:focus .icon-modal-close {
    fill: #ffffff;
  }
  .modal-input:focus,
  .modal-input-textarea:focus {
    outline: none;
    border-color: var(--primary-brand);
  }
  .modal-button:hover,
  .modal-button:focus {
    background-color: var(--pressed-state);
  }
}
